<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
            <div class="col s5"> 
              <form class="formheader" #productForm="ngForm" (ngSubmit)="onSubmit(productForm)"> Product Details 131
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="productService.selectedProduct._id">
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="productname" #name="ngModel" [(ngModel)]="productService.selectedProduct.productname" placeholder="Enter full productname" required>
                    <label>Product Name :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="productassetid" #name="ngModel" [(ngModel)]="productService.selectedProduct.productassetid" placeholder=" Unique no. for this product">
                    <label>Product AssetId :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="productweight" #name="ngModel" [(ngModel)]="productService.selectedProduct.productweight" placeholder="Enter product category">
                    <label>Product Category :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="productmanufacturer" #name="ngModel" [(ngModel)]="productService.selectedProduct.productmanufacturer" placeholder="Product Manufacturer">
                    <label>Manufacturer :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn btn-custom right" type="button" (click)="resetForm(productForm)">Reset</button>
                    <button class="btn btn-custom right" type="submit" [disabled]="!productForm.valid">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col s7">
                <table class="responsive-table highlight">
                    <thead>
                      <tr>
                        <th>Product Name</th>
                        <th>Product AssetId</th>
                        <th>Product Category</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tr *ngFor="let prod of productService.products">
                      <td>{{prod.productname}}</td>
                      <td>{{prod.productassetid}}</td>
                      <td>{{prod.productweight}}</td>
                      <td>
                          <a class="action-btn" (click)="onEdit(prod)">
                            <i class="material-icons">edit</i>
                          </a>
                          <a class="action-btn" (click)="onDelete(prod._id,productForm)">
                            <i class="material-icons">delete</i>
                          </a>
                        </td>
                    </tr>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>